# This workflow will install Python dependencies, run tests and lint with a variety of Python versions
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-python

name: CI

on:
  workflow_dispatch:
  push:
  pull_request:

jobs:
  ruff:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: astral-sh/setup-uv@v6
      - name: sync dependencies
        run: uv sync
      - name: ruff format
        run: uv run ruff format --check --preview --output-format=github
      - name: ruff check
        run: uv run ruff check --output-format=github
  tests:
    name: unit tests (${{ matrix.python-version }}, ${{ matrix.os }})
    runs-on:  ${{ matrix.os }}
    strategy:
      fail-fast: false
      max-parallel: 6
      matrix:
        os: ["ubuntu-latest", "windows-latest"] #, "macos-latest"]
        python-version: ["3.10", "3.12"]
    steps:
    - uses: actions/checkout@v4
    - uses: astral-sh/setup-uv@v6
      with:
        python-version: ${{ matrix.python-version }}
    - name: sync dependencies
      run: uv sync
    - name: Test with pytest
      run: |
        uv pip install pytest-github-actions-annotate-failures
        uv run pytest -k 'test_'
